body {
  background-color: #212c4f;
}

.template {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.login {
  width: 400px;
}

h4 {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
input {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  height: 60px;
  width: 100%;

  font-size: 20px;

  color: #ffffff;

  padding-left: 20px;
  margin-top: 20px;
}
::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

button {
  background: #56ccf2;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  height: 60px;
  width: 100%;
  font-size: 20px;

  color: white;
  padding-left: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

router-link {
  line-height: 25px;
  font-size: 16px;

  color: rgba(255, 255, 255, 0.3);

  text-decoration: none;
}

.register {
  position: absolute;
  top: 40px;
  right: 40px;

  color: white;
}
.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.centered {
  padding-top: 200px;
  text-align: center;
}
